@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";

}
<script src="~/Assets/js/customJs/TissueBank/TissueBankController.js"></script>
<script src="~/Assets/js/customJs/TissueBank/TissueBankService.js"></script>
<style>
    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 18px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        background: #5bc0de;
    }

    ul {
        list-style-type: none;
    }
</style>
<style>
    table {
        width: 100%;
    }

    td, th {
        border: 1px solid orange;
    }

    @@media only screen and (min-width: 1025px) {
        #othertable {
            display: none;
        }
    }

    @@media only screen and (max-width: 1024px) {
        #maintable {
            display: none;
        }
    }

    @@media only screen and (min-width: 901px) {
        #icn {
            display: none;
        }
    }

    @@media only screen and (max-width: 900px) {
        #c1 {
            display: none;
        }
    }

    @@media only screen and (min-width: 901px) {
        #r1 {
            display: none;
        }
    }

    @@media only screen and (max-width: 850px) {
        #c2 {
            display: none;
        }
    }

    @@media only screen and (min-width: 851px) {
        #r2 {
            display: none;
        }
    }

     @@media only screen and (max-width: 800px) {
        #c3 {
            display: none;
        }
    }

    @@media only screen and (min-width: 801px) {
        #r3 {
            display: none;
        }
    }

     @@media only screen and (max-width: 750px) {
        #c4 {
            display: none;
        }
    }

    @@media only screen and (min-width: 751px) {
        #r4 {
            display: none;
        }
    }

     @@media only screen and (max-width: 700px) {
        #c5 {
            display: none;
        }
    }

    @@media only screen and (min-width: 701px) {
        #r5 {
            display: none;
        }
    }
</style>
<div ng-controller="RFQController">
    <input type="hidden" for="TissueBankId" id="TissueBankId" value="@ViewBag.user.InfoId" />
    <ul class="breadcrumb breadcrumb-page">
        <div class="breadcrumb-label text-light-gray">You are here: </div>
        <li>
            <a tabindex="-1" href="@Url.Action("Index", "Home", new { Area = "TissueBank" })">
                <span class="mm-text">Home</span>
            </a>
        </li>
        <li class="active"><a href="">Report Panel</a></li>
        <li class="active"><a href="">RFQ</a></li>
    </ul>
    <div class="page-header">
        <div class="row">
            <!-- Page header, center on small screens -->
            <h1 class="col-sm-4 text-center text-left-sm"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;RFQ</h1>
        </div>
    </div>
  
        <div class="panel">
            <div class="col-md-12" style="margin-top:20px">
                <div class="col-md-2" style="font-size:18px; margin-bottom:10px;">
                    Total : {{TotalRFQs}} RFQs
                </div>
                <div class="col-md-4" style="margin-bottom:10px;">
                    <input class="form-control" ng-model="SearchBy" placeholder="Search" onfocus="this.placeholder=''" onblur="this.placeholder='Search'" type="search" style="box-shadow: inset 0 1px 5px rgba(0,0,0,.13);" ng-change="search()" />
                </div>
                <div class="col-md-2" style="float:right; margin-bottom:10px">
                    <label class="filter-col" style="margin-right:0;" for="pref-perpage">Per Page: </label>
                    <select class="form-control" style="box-shadow: inset 0 1px 5px rgba(0,0,0,.13); display:inline-block; width:50%" ng-disabled="TotalRFQs<1" ng-options="item for item in PageSizes" ng-model="PageSize" ng-change="PageSizeChanged()"></select>
                </div>
                <div class="col-md-4" style="margin-bottom:10px;">
                    <ul class="pagination" style="float:right">
                        <li ng-click="getFirstPage()" ng-if="CurrentPage>1"><a href="#">««</a></li>
                        <li ng-click="getPreviousPage()" ng-if="CurrentPage>1"><a href="#">«</a></li>
                        <li class="active"><a href="#">{{CurrentPage}}/{{TotalPage}} </a></li>
                        <li ng-click="getNextPage()" ng-if="CurrentPage*PageSize<TotalRFQs"><a href="#">»</a></li>
                        <li ng-click="getLastPage()" ng-if="CurrentPage*PageSize<TotalRFQs"><a href="#">»»</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-primary">
                    <span ng-if="dataLoading" style="color:darkgreen;">Please Wait..</span>
                    <span ng-if="RequestForQuotes.length==0 || dataLoading" style="color:darkgreen;">Sorry..No Products.</span>
                    <table ng-if="RequestForQuotes.length!=0 || dataLoading" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <div style="cursor:pointer" ng-click="Sort('RequestForQuoteId')">
                                        <span ng-show="SortExpression  == 'RequestForQuoteId' && SortDirection=='DESC'" class="fa fa-caret-down"></span>
                                        <span ng-show="SortExpression == 'RequestForQuoteId' && SortDirection=='ASC'" class="fa fa-caret-up"></span>
                                        RFQ ID
                                    </div>

                                </th>
                                <th>
                                    <div style="cursor:pointer" ng-click="Sort('CreatedDate')">
                                        <span ng-show="SortExpression  == 'CreatedDate' && SortDirection=='DESC'" class="fa fa-caret-down"></span>
                                        <span ng-show="SortExpression == 'CreatedDate' && SortDirection=='ASC'" class="fa fa-caret-up"></span>
                                        Submitted Date
                                    </div>
                                </th>
                                <th id="c5">
                                    <div style="cursor:pointer" ng-click="Sort('LastModifiedDate')">
                                        <span ng-show="SortExpression  == 'LastModifiedDate' && SortDirection=='DESC'" class="fa fa-caret-down"></span>
                                        <span ng-show="SortExpression == 'LastModifiedDate' && SortDirection=='ASC'" class="fa fa-caret-up"></span>
                                        Last Modified Date
                                    </div>
                                </th>
                                <th id="c4">
                                    <div style="cursor:pointer" ng-click="Sort('ProductCode')">
                                        <span ng-show="SortExpression  == 'ProductCode' && SortDirection=='DESC'" class="fa fa-caret-down"></span>
                                        <span ng-show="SortExpression == 'ProductCode' && SortDirection=='ASC'" class="fa fa-caret-up"></span>
                                        Product Code
                                    </div>
                                </th>
                                <th id="c3">
                                    <div style="cursor:pointer" ng-click="Sort('ProductMasterName')">
                                        <span ng-show="SortExpression  == 'ProductMasterName' && SortDirection=='DESC'" class="fa fa-caret-down"></span>
                                        <span ng-show="SortExpression == 'ProductMasterName' && SortDirection=='ASC'" class="fa fa-caret-up"></span>
                                        Product Name
                                    </div>
                                </th>
                                <th id="c2">
                                    <div style="cursor:pointer" ng-click="Sort('StatusName')">
                                        <span ng-show="SortExpression  == 'StatusName' && SortDirection=='DESC'" class="fa fa-caret-down"></span>
                                        <span ng-show="SortExpression == 'StatusName' && SortDirection=='ASC'" class="fa fa-caret-up"></span>
                                        Status
                                    </div>
                                </th>
                                <th id="c1">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="RequestForQuote in RequestForQuotes">
                                <td style="vertical-align:middle">
                                    <button id="icn" ng-if="RequestForQuote.expanded" ng-click="RequestForQuote.expanded = false" style="background-color:red; color:#ffffff; border-color:#ffffff; border-radius:5px">-</button>
                                    <button id="icn" ng-if="!RequestForQuote.expanded" ng-click="RequestForQuote.expanded = true" style="background-color:green; color:#ffffff; border-color:#ffffff; border-radius:5px">+</button>
                                    {{RequestForQuote.RequestForQuoteId}}
                                </td>
                                <td style="vertical-align:middle">{{RequestForQuote.CreatedDate | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td id="c5" style="vertical-align:middle">{{RequestForQuote.LastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td id="c4" style="vertical-align:middle">{{RequestForQuote.ProductCode}}</td>
                                <td id="c3" style="vertical-align:middle">{{RequestForQuote.ProductMasterName}}</td>
                                <td id="c2" style="vertical-align:middle">
                                    <div class="receive" ng-if="RequestForQuote.StatusName == 'Sent to TissueBank'">
                                        Received
                                    </div>
                                    <div class="sent" ng-if="RequestForQuote.StatusName == 'Sent to Hospital'">
                                        Sent
                                    </div>
                                    <div class="on-going" ng-if="RequestForQuote.StatusName == 'In-Negotiation'">
                                        In-Negotiation
                                    </div>
                                    <div class="decline" ng-if="RequestForQuote.StatusName == 'Declined By TissueBank'">
                                        Declined By<br /> TissueBank
                                    </div>
                                    <div class="decline" ng-if="RequestForQuote.StatusName == 'Declined By Hospital'">
                                        Declined By Hospital
                                    </div>
                                    <div class="decline" ng-if="RequestForQuote.StatusName == 'Declined By AllocatStaff'">
                                        Declined By AllocatStaff
                                    </div>
                                    <div class="close" ng-if="RequestForQuote.StatusName == 'Placed PR'">
                                        Closed<br />
                                        Placed PR
                                    </div>
                                    <div class="close" ng-if="RequestForQuote.StatusName == 'Placed PO'">
                                        Closed<br />
                                        Placed PO
                                    </div>
                                </td>
                                <td id="c1" style="width:10%; vertical-align:middle">
                                    <button class="btn btn-flat" style="margin-bottom:10px" data-toggle="modal" ng-if="RequestForQuote.StatusName.indexOf('Declined')<0" data-target="#modal-sizes-2" ng-click="GetRequestDetail(RequestForQuote.RequestForQuoteId)"><i class="fa fa-search-plus"></i> Quick View</button>
                                    @{
                                        var ViewCompleteUrl = Url.Action("Manage", "RequestForQuote", new { RequestForQuoteId = "{{RequestForQuote.RequestForQuoteId}}", editMode = "false" });
                                        ViewCompleteUrl = HttpUtility.UrlDecode(ViewCompleteUrl);
                                    }

                                    <a data-ng-href="@ViewCompleteUrl"><button class="btn btn-flat" style="width:100%"><i class="fa fa-pencil-square-o"></i> Manage</button></a>
                                </td>

                            </tr>

                            <tr ng-if="RequestForQuote.expanded" ng-repeat-end="">
                                <td colspan="7">
                                    <div class="col-md-12" id="r5">
                                        <b>Last Modify Date : </b> {{RequestForQuote.LastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss'}}
                                    </div> 
                                    <div class="col-md-12" id="r4">
                                        <b>Product Code : </b> {{RequestForQuote.ProductCode}}
                                    </div> 
                                    <div class="col-md-12" id="r3">
                                        <b>Product Name : </b> {{RequestForQuote.ProductMasterName}}
                                    </div>
                                    <div class="col-md-12" id="r2">
                                        <b>Status : </b>
                                        <div class="received-tag" ng-if="RequestForQuote.StatusName == 'Sent to TissueBank'">
                                            Received
                                        </div>
                                        <div class="sent-tag" ng-if="RequestForQuote.StatusName == 'Sent to Hospital'">
                                            Sent
                                        </div>
                                        <div class="on-going-tag" ng-if="RequestForQuote.StatusName == 'In-Negotiation'">
                                            In-Negotiation
                                        </div>
                                        <div class="decline-tag" ng-if="RequestForQuote.StatusName == 'Declined By TissueBank'">
                                            Declined By<br /> TissueBank
                                        </div>
                                        <div class="decline-tag" ng-if="RequestForQuote.StatusName == 'Declined By Hospital'">
                                            Declined By Hospital
                                        </div>
                                        <div class="decline-tag" ng-if="RequestForQuote.StatusName == 'Declined By AllocatStaff'">
                                            Declined By AllocatStaff
                                        </div>
                                        <div class="placed-tag" ng-if="RequestForQuote.StatusName == 'Placed PR'">
                                            Closed<br />
                                            Placed PR
                                        </div>
                                        <div class="placed-tag" ng-if="RequestForQuote.StatusName == 'Placed PO'">
                                            Closed<br />
                                            Placed PO
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="r1">
                                        <b>Action : </b> 
                                        <button class="btn btn-flat" style="margin-bottom:10px" data-toggle="modal" ng-if="RequestForQuote.StatusName.indexOf('Declined')<0" data-target="#modal-sizes-2" ng-click="GetRequestDetail(RequestForQuote.RequestForQuoteId)"><i class="fa fa-search-plus"></i> Quick View</button>
                                        <a data-ng-href="@ViewCompleteUrl"><button class="btn btn-flat" style="width:100%"><i class="fa fa-pencil-square-o"></i> Manage</button></a>
                                    </div>
                              
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>

    <div class="notifies" notifybar></div>
    <div id="modal-sizes-2" class="modal modal-alert modal-info fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Quick View
                </div>
                <div class="modal-title">

                </div>
                <div class="model-body">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <ul><b>Product : </b> {{RFQDetail.ProductMasterName}}/ {{RFQDetail.ProductCode}} </ul>
                                    <ul><b>RFQ ID : </b> {{RFQDetail.RequestForQuoteId}} </ul>
                                    <ul><b>Quantity : </b> {{RFQDetail.Quantity==null ? 'N/A' : RFQDetail.Quantity}} </ul>
                                    <ul><b>Need By Date : </b> {{RFQDetail.NeedByDate==null ? 'N/A' : RFQDetail.NeedByDate | date : 'yyyy-MM-dd'}} </ul>
                                    <ul><b>Tissue Bank Send Date : </b> {{RFQDetail.TissueBankSendByDate==null ? 'N/A' : RFQDetail.TissueBankSendByDate | date : 'yyyy-MM-dd'}}  </ul>
                                </div>
                                <div class="col-md-4" style="border-right: 2px solid #ddd; height:135px">
                                    <ul><b>Unit Price : </b> {{RFQDetail.UnitPrice | currency}} </ul>
                                    <ul><b>Line Total : </b> {{RFQDetail.LineTotal==null ? 'N/A' : RFQDetail.LineTotal | currency}} </ul>
                                    <ul><b>Total Amount : </b> {{RFQDetail.Total==null ? 'N/A' : RFQDetail.Total | currency}} </ul>
                                    <ul><b>Sales Tax : </b> {{RFQDetail.SalesTax==null ? 'N/A' : RFQDetail.SalesTax | currency}} </ul>
                                    <ul><b>Shipping Details :</b>{{RFQDetail.ShippingMethod==null ? 'N/A' : RFQDetail.ShippingMethod}} </ul>
                                </div>
                                <div class="col-md-3" style="display: table; height: 100px; text-align: center;">
                                    <div style="display: table-cell; vertical-align: middle; cursor:pointer">
                                        <span>
                                            <b>Status:</b>
                                            <div class="received-tag" ng-if="RFQDetail.StatusName == 'Sent to TissueBank'"> Received </div>
                                            <div class="sent-tag" ng-if="RFQDetail.StatusName == 'Sent to Hospital'"> Sent </div>
                                            <div class="on-going-tag" ng-if="RFQDetail.StatusName == 'In-Negotiation'"> In-negoiation </div>
                                            <div class="decline-tag" ng-if="RFQDetail.StatusName == 'Declined By TissueBank'"> Declined By TissueBank </div>
                                            <div class="decline-tag" ng-if="RFQDetail.StatusName == 'Declined By Hospital'"> Declined By Hospital </div>
                                            <div class="decline-tag" ng-if="RFQDetail.StatusName == 'Declined By AllocatStaff'"> Declined By AllocatStaff </div>
                                            <div class="placed-tag" ng-if="RFQDetail.StatusName == 'Placed PR'"> Placed PR </div>
                                            <div class="placed-tag" ng-if="RFQDetail.StatusName == 'Placed PO'"> Placed PO </div>

                                        </span> <br /><br />
                                        <span><i class="fa fa-eye" style="font-size: 16px; color: #3daacf;" title="View"></i><b><u> Product Details</u> </b></span>
                                    </div>
                                </div>
                                @*<div class="col-md-3" style="display: table; height: 100px; text-align: center;">
                                        <span style="display: table-cell; vertical-align: middle; cursor:pointer"><i class="fa fa-eye" style="font-size: 16px; color: #3daacf;" title="View"></i> Product Details</span>
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-right:40px; padding-left:40px;">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-comment"></span> Clinical Question
                            </div>
                            <div class="c-body" style="max-height: 501px; overflow-y:auto; height:175px !important;">
                                <ul class="chat" ng-if="RequestResponses.length>0">
                                    <span ng-repeat="item in RequestResponses">
                                        <li class="left clearfix" ng-if="item.BodyType=='Request'" style="width:100%;text-align: left;">
                                            <span class="chat-img pull-left">
                                                <div class="circle chat-img pull-left">{{item.Initial}}</div>
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class="pull-left text-muted">
                                                        <span class="glyphicon glyphicon-time"></span>{{item.LastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss' }}
                                                    </small>
                                                </div><br />
                                                <p>
                                                    {{item.Body}}
                                                    <div ng-if="item.AttachmentName!=null">
                                                        <img src="~/Assets/image/attachmentIcon.png" />  <a target="_blank" href="http://allocat.net/Webapi/Content/AttachmentFiles/{{item.AttachmentName}}">{{item.AttachmentName}}</a>
                                                    </div>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="right clearfix" ng-if="item.BodyType=='Response'" style="width:100%;text-align: right;">
                                            <span class="chat-img pull-right">
                                                <div class="circle chat-img pull-right">{{item.Initial}}</div>
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class="text-muted">
                                                        <span class="glyphicon glyphicon-time">
                                                        </span>{{item.LastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss' }}
                                                    </small>
                                                </div>
                                                <p>
                                                    {{item.Body}}
                                                    <div ng-if="item.AttachmentName!=null">
                                                        <img src="~/Assets/image/attachmentIcon.png" />  <a target="_blank" href="http://allocat.net/Webapi/Content/AttachmentFiles/{{item.AttachmentName}}">{{item.AttachmentName}}</a>
                                                    </div>
                                                </p>
                                            </div>
                                        </li>
                                    </span>
                                </ul>
                                <div ng-if="RequestResponses.length<1">
                                    No Clinical questions asked for this RFQ yet.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    @{
                        var ReplyUrl = Url.Action("Manage", "RequestForQuote", new { RequestForQuoteId = "{{RFQDetail.RequestForQuoteId}}", editMode = "true" });
                        ReplyUrl = HttpUtility.UrlDecode(ReplyUrl);
                    }
                    <span class="btn btn-info" style="height:35px"><a style="color: #fff;" data-ng-href="@ReplyUrl">Reply</a></span>
                    @{
                        var ViewUrl = Url.Action("Manage", "RequestForQuote", new { RequestForQuoteId = "{{RFQDetail.RequestForQuoteId}}", editMode = "false" });
                        ViewUrl = HttpUtility.UrlDecode(ViewUrl);
                    }
                    <span class="btn btn-info" style="height:35px"><a style="color: #fff;" data-ng-href="@ViewUrl">Manage RFQ</a></span>

                    @*<span type="button" class="btn btn-info" style="height:35px" data-dismiss="modal"><a style="color: #fff;" data-ng-href="@ReplyUrl">Reply</a></span>
                        <span type="button" class="btn btn-info" style="height:35px" data-dismiss="modal"><a style="color: #fff;" data-ng-href="@ViewUrl">Manage RFQ</a></span>*@
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div> <!-- / .modal -->

</div>
